*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea
composer.lock

/.htaccess
db.php
logs
fuel/app/config/staging/

fuel/app/config/crypt.php
public/user_data
